{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content="index, follow">
    <meta name="author" content="Concerned Citizen">
    <meta name="keywords" content="corruption,kenya,stealing,looting,public funds,government,land grabbing,loans,IMF,projects,stalled">
    <title>{% block title %}Corruption Tracker{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    {% block extra_meta %}{% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
          rel="stylesheet">
    <link href="{% static "website/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/images' %}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/images' %}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/images' %}/favicon-16x16.png">
    <link rel="manifest" href="{% static 'website/images' %}/site.webmanifest">
    {% block extra_css %}{% endblock %}
</head>
<body style='font-family: Inter,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";'>
<nav class="border-bottom border-body navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url "corruption" %}">
            <img alt="Kenyan flag" height="50" width="60" src="{% static "website/images/brand.png" %}"/>
        </a>
        <p class="mb-0 d-lg-none">
            Corruption Tracker
        </p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-4">
                    <a class="nav-link {% if '/' in request.path %}active{% endif %}" href="{% url "corruption" %}">CORRUPTION</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link {% if 'kenyas-loans/' in request.path %}active{% endif %}"
                       href="{% url "kenyas_loans" %}">KENYA'S LOANS</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link {% if 'land-grabbing/' in request.path %}active{% endif %}"
                       href="{% url "land_grabbing" %}">LAND GRABBING</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link {% if 'stalled-projects/' in request.path %}active{% endif %}"
                       href="{% url "stalled_projects" %}">STALLED PROJECTS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="min-vh-100">
    {% block content %}{% endblock %}
</div>

<div class="container mt-5">
    {% block pagination %}{% endblock %}
</div>

<footer class="container border-top text-secondary mt-5">
    <div class="align-content-center d-flex justify-content-between mt-3 mb-3">
        <div class="flex align-content-center">
            <p class="mb-0">&copy;2024 Corruption Kenya, Inc</p>
        </div>
        <div class="text-center">
            <a class="navbar-brand" href="{% url "corruption" %}">
                <img alt="Kenyan flag" height="50" width="60" src="{% static "website/images/brand.png" %}"/>
            </a>
        </div>
        <nav class="nav d-none d-lg-flex">
            <a class="nav-link" href="{% url 'kenyas_loans' %}">Loans</a>
            <a class="nav-link" href="{% url 'land_grabbing' %}">Land</a>
            <a class="nav-link" href="{% url 'stalled_projects' %}">Projects</a>
        </nav>
    </div>
</footer>
<script src="{% static "website/js/bootstrap.bundle.min.js" %}"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8HEJTPPM2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-Y8HEJTPPM2');
</script>
{% block extra_js %}{% endblock %}
</body>
</html>
