{% extends "website/base.html" %} 

{% load humanize %}
{% load static %} 

{% block title %}
    Corruption tracker — List of corruption cases in Kenya
{% endblock %}

{% block extra_meta %}
    <meta name="description" content="A comprehensive list of corruption cases, scandals and looting of tax-payers' money in Kenya by government officials" />
{% endblock %}

{% block content %}
<main class="container mt-4 px-2 px-md-0">
  <!-- Card list of corruption cases -->
  <section>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
      {% for story in page_obj.object_list %}
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'website/images' %}{{ story.banner.url }}" class="card-img-top" alt="Corruption image" height="300" width="275">
          <div class="card-body">
            <h5 class="card-title">{{ story.headline }}</h5>
            <h6 class="card-subtitle mb-2 mt-1 text-muted">{{ story.date_occured|date:"F j, Y" }}</h6>
            <p class="card-text">
              {{ story.content|truncatewords:20 }}
            </p>
            <div class="align-items-center d-flex justify-content-between">
              <p class="card-text fw-bold text-danger mb-0">
                KES {{ story.amount|intword }}
              </p>
              <a href="{% url "corruption_detail" story.id %}" class="btn btn-light">Read more</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}

{% block pagination %}
  <nav>
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% for page_number in page_obj.paginator.page_range %}
        {% if page_number == page_obj.number %}
          <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
  </ul>
  </nav>
{% endblock %}