{% extends "website/base.html" %} 
{% load humanize %}
{% load static %} 

{% block content %}
<main class="container mt-4">
  <!-- Card list of corruption cases -->
  <section>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
      {% for story in corruption_stories %}
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'website/images' %}{{ story.banner.url }}" class="card-img-top" alt="Corruption image" height="300" width="275">
          <div class="card-body">
            <h5 class="card-title">{{ story.headline }}</h5>
            <p class="card-text">
              {{ story.content|truncatewords:20 }}
            </p>
            <div class="align-items-center d-flex justify-content-between">
              <p class="card-text fw-bold text-danger mb-0">
                KES {{ story.amount|intword }}
              </p>
              <a href="#" class="btn btn-light">Read more</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
