{% extends "website/base.html" %}

{% load humanize %}
{% load static %}

{% block content %}
    <main class="container mt-4 px-4 px-md-0">
        <h5 class="text-center text-secondary mb-4">CORRUPTION</h5>
        <h1 class="display-6 fw-semibold text-center">{{ corruption_story.headline }}</h1>
        <section class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center mb-5 mt-5">
                    <img alt="Corruption story banner" class="img-fluid"
                         src="{% static 'website/images' %}{{ corruption_story.banner.url }}"/>
                </div>
            </div>
            <div class="col-md-2"></div>
        </section>

        <section class="row" style="font-family: 'Source Serif 4', Inter, serif; font-size: 20px ">
            <div class="col-lg-2 col-xl-2"></div>
            <div class="col-lg-8 col-xl-7">
                <div class="d-flex justify-content-between mb-4">
                    <p><small class="text-secondary text-sm">Published: {{ corruption_story.date_created }}</small></p>
                    <p><small class="text-secondary">Category: <a class="text-reset" href="{% url 'corruption' %}">Corruption</a></small></p>
                </div>
                <h4 class="fw-bold text-center text-danger text-decoration-underline mb-3">KES {{ corruption_story.amount|intword }}</h4>
                {% autoescape off %}
                    {{ corruption_story.content|linebreaks }}
                {% endautoescape %}
            </div>
            <div class="col-lg-2 col-xl-3"></div>
        </section>
    </main>
{% endblock %}